/* ============================================
    zlyd-CV Website Styles
    v1.2.3
   ============================================ */

@import 'variables.css';
@import 'animations.css';
/* @import 'base.css'; */
/* Missing */
@import 'layout.css';
/* @import 'components-core.css'; */
/* Missing */
@import 'components-modules.css';
@import 'pages.css';